.sidebar, .bg-dark {
    background-color: #545b62 !important;

}

.survey_content {
    width: 85%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.answer a {
    text-decoration: none;
    color: #000 !important;
}

a:hover {
    text-decoration: none;
}

.survey_content .table-bordered td {
    padding: 0;
}

.survey_content table {
    width: 40%;
    margin: 50px 0 50px 50px;
}

.survey_content table th {
    text-align: center;
    font-size: 25px;
}

.survays_right_box_top {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #f2eeee;
    margin: 10px;
    box-shadow: 0px 11px 24px 0 rgba(0, 0, 0, 0.1);
}

.survays_right_box_top_right {
    height: 100%;
    background-color: #3ea639;
    width: 18px;
    margin-right: 25px;
}

.survays_right_box_top p {
    font-family: "Myriad";
    font-size: 20px;
    margin-bottom: 0 !important;
}

.survey_p {
    color: #000;
}

.survey_content_questions {
    display: flex;
    flex-direction: column !important;
}

.survey_content_questions .survays_right_box_top_right {
    background-color: #074079;

}

.survey_content_questions .survays_right_box_top {
    height: fit-content;
}

.survey_content_questions .survays_right_box_top {
    width: auto;
}


.alert.alert-success.patient_success {
    width: 76%;
    margin: 0 auto;
}

.content_answer .content-wraper, .content_answer {
    padding-top: 50px;
    width: 80% !important;
}

.create_answer_form h3 {
    color: #4236ef;
    font-size: 30px;
    text-transform: capitalize;
}

.form-group.desk_label.col-md-8 {
    padding: 0;
}

.input-group-prepend button {
    width: 90px;
    background: #4236ef;
    color: white;
    text-align: center;
    display: inline-block;
}

.added_answers {
    width: 50%;
    margin-top: 35px;
    margin-left: 15px;
}

.add_category h4 {
    color: #4236ef;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

#content-wrapper form input {
    border-radius: 0;
}

.add_category_btn {
    border-radius: 0;
    text-align: center;
    width: 20%;
    display: block;
    margin: 0 auto;
}

.survays_right_box_top a {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.survays_right_box_top_right {
    background-color: #4236ef;
    margin: 0;
}

.survays_right_box_top p {
    text-transform: capitalize;
}

/*answers_questions*/
.answer_form_content {
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
}

.content_answer .content-wraper, .content_answer {
    width: 100%;
}

.create_answer_form {
    width: 20%;
}

.question_answer {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;

}

.answers_items {
    display: flex;

}

.answers_column {
    display: block;
    /*column-count: 4;*/
    /*column-gap: 5px;*/
}

.answers_items .answers_row {
    width: 100%;
}

.main_content {
    padding-top: 1rem;
    width: 100%;
}
