.survey_login{
    display: flex;
    align-items: center;
}
#email, #password{
    width: 550px;
    height: 81px;
    border-radius: 10px;
    box-shadow: 0px 11px 24px 0 rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    border: none;
}
#email:focus, #password:focus{
    border: none;
    outline: none;
}
.form-check-label{
    font-size: 18px;
    font-family: "Myriad";
}
.form-check{
    margin-left: 20px;
}
.btn-primary{
    width: 171px;
    height: 81px;
    border-radius: 10px;
    box-shadow: 0px 11px 24px 0 rgba(0, 0, 0, 0.1);
    background-color: #3ea639;
    font-size: 20px;
    color: #ffffff;
    margin-top: 35px;
}
.sur_btn{
    text-align: center;
}
.btn-link{
    font-size: 18px;
    font-family: "Myriad";
    color: #1b1e21;
    float: right;
    margin-top: 10px;
}
.form-check-input{
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1500px){

    #email, #password{
        width: 300px;
        height: 50px;
        font-size: 18px;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .form-check-label{
        font-size: 16px;
    }
    .form-check{
        margin-left: 20px;
    }
    .btn-primary{
        width: 100px;
        height: 50px;
        font-size: 16px;
        margin-top: 25px;
    }

    .btn-link{
        font-size: 16px;
    }
    .form-check-input{
        width: 17px;
        height: 17px;
    }

}
@media screen and (max-width: 700px){

    #email, #password{
        width: 200px;
        height: 50px;
        font-size: 18px;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .form-check-label{
        font-size: 16px;
    }
    .form-check{
        margin-left: 20px;
    }
    .btn-primary{
        width: 100px;
        height: 50px;
        font-size: 16px;
        margin-top: 25px;
    }

    .btn-link{
        font-size: 16px;
    }
    .form-check-input{
        width: 17px;
        height: 17px;
    }

}
