.reg{
    width: 100%;
    padding-top: 80px;
}
.reg_size{
    width: 80.5%;
    margin: 0 auto;
}
.reg_size p{
    font-size: 24px;
    font-family: "Myriad";
}
.pat_name{
    margin-bottom: 70px;
    font-size: 28px !important
}
.reg_size input{
    width: 370px;
    height: 61px;
    border-radius: 10px;
    box-shadow: 0px 11px 24px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: none;
    margin-right: 40px;
    padding-left: 20px;
}
.reg_size button{
    width: 154px;
    height: 61px;
    border-radius: 10px;
    box-shadow: 0px 11px 24px 0 rgba(0, 0, 0, 0.1);
    background-color: #3ea639;
    color: #fff;
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 100px;
}
.reg_size hr{
    background-color: #e1e1e1;
    margin-top: 50px;
    margin-bottom: 50px;
}
.reg_btn{
    width: 100%;
    text-align: right;
}
.gender{
    display: flex;
    align-items: center;
}
.gender input{
    width: 23px;
    height: 23px;
    border: solid 3px #3ea639;
    margin-right: 15px;
}
.whatgender, .whatbirth, .whatheight, .whatweight{
    margin-bottom: 50px;
}
.reg_male{
    margin-right: 40px
}

@media screen and (max-width:1700px) {
    .reg{
        padding-top: 50px;
    }
    .reg_size{
        width: 85%;
    }
    .reg_size p{
        font-size: 20px;
    }
    .pat_name{
        margin-bottom: 30px;
        font-size: 24px !important;
    }
    .reg_size input{
        width: 300px;
        height: 50px;
        margin-right: 30px;
    }
    .reg_size button{
        width: 154px;
        height: 61px;
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .reg_size hr{
        background-color: #e1e1e1;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .gender input{
        width: 23px;
        height: 23px;
        border: solid 3px #3ea639;
        margin-right: 15px;
    }
    .whatgender, .whatbirth, .whatheight, .whatweight{
        margin-bottom: 30px;
    }
    .reg_male{
        margin-right: 20px
    }
}
@media screen and (max-width:1000px) {
    .reg{
        padding-top: 20px;
    }
    .reg_size{
        width: 90%;
    }
    .reg_size p{
        font-size: 16px;
    }
    .pat_name{
        margin-bottom: 10px;
        font-size: 18px !important;
    }
    .reg_size input{
        width: 200px;
        height: 30px;
        margin-right: 20px;
        margin-bottom: 7px
    }
    .reg_size button{
        width: 100px;
        height: 50px;
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .reg_size hr{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .gender input{
        width: 20px;
        height: 20px;
        margin:0 10px 0 0;
    }
    .whatgender, .whatbirth, .whatheight, .whatweight{
        margin-bottom: 20px;
    }
    .reg_male{
        margin-right: 20px
    }
}
@media screen and (max-width:700px) {
    .reg{
        padding-top: 10px;
    }
    .reg_size{
        width: 90%;
    }
    .reg_size p{
        font-size: 14px;
    }
    .pat_name{
        margin-bottom: 10px;
        font-size: 16px !important;
    }
    .reg_size input{
        width: 150px;
        height: 30px;
        margin-right: 10px;
        margin-bottom: 7px
    }
    .reg_size button{
        width: 60px;
        height: 30px;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .reg_size hr{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .gender input{
        width: 15px;
        height: 15px;
        margin:0 10px 0 0;
    }
    .whatgender, .whatbirth, .whatheight, .whatweight{
        margin-bottom: 10px;
    }
    .reg_male{
        margin-right: 20px
    }
}
