#email, #password,#name,#password-confirm{
    width: 550px;
    height: 81px;
    border-radius: 10px;
    box-shadow: 0px 11px 24px 0 rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    border: none;
}
#email:focus, #password:focus, #name:focus,#password-confirm:focus{
    border: none;
    outline: none;
}
#reg_btn{
    text-align: center;
    margin-bottom: 20px;
}
#reg_btn button{
    margin: 0;
}
.reg_title_div {
    text-align: center;
    margin-top: 20px;
}
.reg_title{
    font-size: 33px;
    margin-bottom: 30px;
}
@media screen and (max-width: 1500px) {

    #email, #password,#name,#password-confirm {
        width: 300px;
        height: 50px;
        font-size: 18px;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    .reg_title{
        font-size: 23px;
        margin-bottom: 10px;
    }
    #reg_btn{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 700px) {

    #email, #password, #name, #password-confirm {
        width: 200px;
        height: 50px;
        font-size: 18px;
        padding-left: 20px;
        margin-bottom: 20px;
    }
}
