.reset{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-header, #e_mail_address{
    font-size: 25px;
    font-family: "Myriad";
    margin-bottom: 10px;
    margin-top: 15px;
}

#email{
    margin-top: 20px;
}
#reset_btn{
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px){
    #reset_btn{
        width: 200px;
        height: 40px;
        margin-bottom: 20px;
        font-size: 14px;
    }
}
