* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  width: 100%;
  height: 100%;
}
a{
  text-decoration: none;
  list-style: none;
}
button{
  border: none;
  cursor: pointer;
}
@font-face {
  font-family: "Myriad";
  src: url("../font/Myriad.ttf");
}
p,h1,a,h2,h3,h4,h5,h6{
  font-family: "Myriad"
}
header{
  width: 100%;
    padding: 10px 0;
  /*height:8vh;*/
  background-color:#3ea639;
  display: flex;
  align-items: center;
}
.header_size{
  width: 93.5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-nav {
    list-style-type: none;
    display: flex;
    align-items: center;

}
.header_size a{
  font-size: 20px;
}
.header_size  img, .content_img img{
    width: 20px;
    position: fixed;
    top: 7px;
    left: 10%;

}
.header_size .navbar{
    width:100%;
}
.header_size .navbar .container{
    max-width: 1600px;

}
#login {
  color: #fefefe;
  margin-right: 70px;
}
.sign_up{
  width: 115px;
    height: 41px;
    border-radius: 20px;
    background-color: #ffffff;
    color:#000;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.navbar-toggler{
    display: none;
}
.sign_up a{
  color:#000;
}
.home{
  width: 100%;
  display: flex;
}
.home_left{
  width: 50%;
  margin-right: 24px;

}
.home_left img{
  width: 100%;
    height: 100%;
}
.home_right{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home_right h2{
  font-size: 45px;
  margin-bottom: 50px;
}
.home_right p{
  font-size: 24px;
  margin-bottom: 60px;
}
.home_right button{
  width: 265px;
  height: 41px;
  border-radius: 20px;
  background-color: #3ea639;
  font-size: 20px;
  color: #ffffff;
}

footer{
  width: 100%;
  height: 5vh;
background-color: #3ea639;
display: flex;
justify-content: center;
align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 999;
}
footer p{
font-size: 12px;
color: #ffffff;
}
.question_answers{

    margin: 40px auto;
}
.content_cc{
    height:10vh;
    width:100%;
}

.pagination{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.pagination li{
    margin: 0 10px;
    font-family: "Myriad";
   color: #1b1e21;
    font-size: 18px;
}
.survey_content{
    padding-top: 20px;
    width: 55%;
    margin: 30px auto;
}

.answer_form_content{
    width: 80%;
    margin: 50px auto;
}
.answer_form_content p{
    text-align: center;
}
.desk_label{
    margin: 20px auto;
}
.desk_label input{
    width: 300px;
    padding: 10px 0;
    border-radius: 5px;
    outline: none;
}
.add_btn_answer{
    height: 50px !important;
    width: 100px;
}

.survays_right_box_top .survey_p answer{
    display: flex;
    flex-direction: column;
}
.survays_right_box_top{
    /*height:50px !important;*/
}

/*surveys_answers*/
.survays_answers .survays_right_box_top_right{
    background: #fff !important;
}

.survays_answers .survays_right_box_top {
    background: #fff!important;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.survays_answers form{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.survays_answers form .filed_first {
    margin: 10px 0;
}
.survays_answers .input_question p{
    text-align: center;
    margin-top: 80px;


}
.survays_answers form label{
    font-size: 26px !important;
    font-weight: bold;
}
.survays_answers form .btn-primary{
    width: 70px;
    height: 50px;
}
.select_form{
    justify-content: center;
    align-items: flex-start;
}
.select_form select{
    width: 300px;
    margin-left: 500px;
    border-radius: 5px;
    outline:none;
}
.select_form .btn-primary{
    margin: 0 0 0 30px;
    width: 70px;
    height: 50px;
}
.card-body .btn-primary{
    width: 171px;
    height: 81px;
    border-radius: 10px !important;
    box-shadow: 0px 11px 24px 0 rgba(0, 0, 0, 0.1);
    background-color: #3ea639 !important;
    font-size: 20px;
    color: #ffffff;
    margin-top: 35px !important;
    border: none;
    outline: none;
}

.survays_answers form .answers_column .row{
    width: 100% !important;
}
.survays_answers form .answers_row .row{
    flex-direction: row !important;
    margin-top: 5%;
    justify-content: center;
}
.card{
    border:none !important;
}
.survays_answers form .survey_p #remove-row{

    margin: 40px auto 0 auto;
}
#remove-row{
    margin: 40px auto 0 auto;
}

.survays_answers form .survey_p  .input_question{
    margin-top: 5%;

}

.select_form_content {
    display: flex ;
    align-items: center;
    justify-content: center;
}

.survays_answers form  .answers_column{
    display: flex;


}

.survays_answers form  .answers_column  .row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.survays_answers form  .answers_column  .filed_first{
    margin: 20px;
}

.survays_answers form .survey_p input{
    border-radius: 10px;
    box-shadow: 0px 11px 24px 0 rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    border: none;
}
.survays_answers form .survey_p {
  width:100%;
}
.survays_answers form .survey_p label{
    width: 100%;
    text-align: center;
}

.text-center{
    text-align: center;
}
.dash_flex p{
    margin-bottom: 0;

}
.dash_flex a{
    padding: .25rem 1.5rem;
    margin-bottom:0;
}
.dash_flex a:hover{
    padding: .25rem 1.5rem;
    color: #16181b !important;
    text-decoration: none;
    background-color: #f8f9fa;
}
 .survays_left_bottom p:hover{
    color: #16181b !important;
    text-decoration: none;
    background-color: #f8f9fa;

}
.survays_left_bottom a:first-child{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.survays_left_bottom a:first-child p{
    width: 100px;
    padding:10px;
    text-align: center;

}
.survays_left_bottom a, .survays_left_bottom a:hover{
    text-decoration: none;

}
.survays_left_bottom button, .survays_left_bottom button:focus, .survays_left_bottom button:active{
    outline: none;
}
.dash_flex p:hover{
    color: #16181b !important;
    background-color: #f8f9fa;
}
.survays_left_bottom a{

}

/*  */
@media screen and (max-width:1700px) {
  .login a{
    margin-right: 60px;
  }

  .home_left{
    margin-right: 20px;
  }
  .home_right{
    width: 40%;
  }
  .home_right h2{
    font-size: 35px;
    margin-bottom: 40px;
  }
  .home_right p{
    font-size: 20px;
    margin-bottom: 30px;
  }
  .home_right button{
    width: 250px;
    height:40px;
    font-size: 18px;
  }
}
@media screen and (max-width:1250px){
  header{
    height: 60px;
  }
  .header_size a{
    font-size: 16px;
  }

  .login a{
    margin-right: 40px;
  }
  .sign_up{
    width: 100px;
    height: 35px;
  }

  .home_left{
    margin-right: 10px;
  }

  .home_right{
    width: 45%;
  }
  .home_right h2{
    font-size: 26px;
    margin-bottom: 20px;
  }
  .home_right p{
    font-size: 18px;
    margin-bottom: 30px;
  }
  .home_right button{
    width: 225px;
    height: 35px;
    font-size: 16px;
  }

  footer{
    height: 35px;
  }
  footer p{
  font-size: 10px;
  }
}
@media screen and (max-width:940px){
  header{
    height: 40px;
  }
  .header_size a{
    font-size: 14px;
  }
  .login a{
    margin-right: 20px;
  }
  .sign_up{
    width: 80px;
    height: 25px;
  }
  .home_left{
    margin-right: 5px;
  }

  .home_right h2{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .home_right p{
    font-size: 14px;
    margin-bottom: 10px;
  }
  .home_right button{
    width: 150px;
    height: 30px;
    font-size: 12px;
  }
  footer{
    height: 30px;
  }
}
@media screen and (max-width:570px){
  .home_left{
    display: none;
  }
  .home{
    justify-content: center;
    padding: 20px 0 10px 0;
  }
  .home_right{
    width: 80%;
    text-align: center;
  }


}


#patient{
    display: none;
}


/* The container */
.check_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check_container input {
    position: absolute;
    /*opacity: 0;*/
    /*cursor: pointer;*/
    /*height: 0;*/
    /*width: 0;*/
    left: 4px;
    z-index: 99999;
    top: -300px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    /*top: 0;*/
    left: 0;
    /*height: 25px;*/
    /*width: 25px;*/
    background-color: #fff;
    border: 1px solid #b5b3b3;
}

/* On mouse-over, add a grey background color */
.check_container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #3ea639;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}




.m_top{
    margin-top: 50px;
}
.m_top .result_pdf{
    margin-top: 70px;
}
.m_top .result_pdf a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background: #d83c3c;
    margin-top: 30px;
}

.m_top .result_pdf a:hover{
    text-decoration: none;

}
.display{
    border: 1px solid #000;
}


/*category_content*/

.category_content{

}
.category_content h2{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;


}
.category_content .questions{
    font-weight: bold;
    padding-bottom: 10px;
    padding-left:10px;
    font-size: 20px !important;
}
.category_content .check_container{
    font-size: 15px !important;
    border: 1px solid #1b1e21;
    padding: 15px;

}
.category_content .check_container .checkmark{
    width: 20px;
    height: 20px;
}


