.survays{
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0;
}
.survays_left{
  width: 21%;
  width: 21%;
   background-color: #242524;
}
.survays_left_top{
  width: 100%;
  text-align: center;
}
.survays_left_top h3{
  font-family: "Myriad";
  font-size: 25.5px;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 50px;
}
.survays_left_top p{
  font-family: "Myriad";
  color: #ffffff;
  margin-bottom: 90px;
  font-size: 16px;
}
.survays_left_dash{
  width: 100%;
  height: 50px;
background-color: #151515;
display: flex;
align-items: center;
font-family: "Myriad";
font-size: 18px;
color: #fff;
}
.survays_left_dash p{
  margin: 0 auto;
}
.dash_1{
  width: 18px;
  height: 100%;
  background-color: #3ea639;
}
.survays_left_mid{
  width: 100%;
  padding: 40px 0 0 120px;
}
.dash_flex{
  display: flex;
  align-items: center;
    margin-bottom: 40px;
}
.dash_flex p{
  font-family: "Myriad";
font-size: 18px;
color: #ffffff;
margin-left: 15px;
}
.survays_left_bottom{
  text-align: center;
}
.survays_left_bottom p{
  font-family: "Myriad";
font-size: 18px;
color: #ffffff;
margin-top: 40px;
margin-bottom: 40px;
}
.survays_left_bottom button{
margin-bottom: 40px;
width: 115px;
height: 41px;
border-radius: 20px;
  font-size: 20px;
}
.survays_right{
  width: 79%;
}
.survays_right_top{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.survays_right_top_2{
  width: 44%;
}
.survays_right_top_2_black{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #242524;
  height: 38px;
}
.survays_right_top_1 p{
  font-family: "Myriad";
font-size: 18px;
margin-top: 20px;
}
.survays_right_img{
  display: flex;
    align-items: center;
}
.survays_right_img p{
  font-family: "Myriad";
font-size: 15px;
color: #ffffff;
    margin: 0;
}
.patient_success{
    text-align: center!important;
    background: #cde4cc;
    height: 39px;
    border: unset;
}
.survays_right_img img{
margin-right: 10px;
}
.survays_right_top_2_bott{
  display: flex;
  margin-top: 30px;
}
.survays_right_top_2_bott p{
  font-family: "Myriad";
font-size: 16px;
}
.survays_right_top_3{
  width: 33%;
  position: relative;
}
.survays_right_top_3 img{
position: absolute;
top: 25px;
left: 10px;
}
.survays_right_top_3 input{
  width: 100%;
height: 62px;
border-radius: 10px;
box-shadow: 0px 11px 24px 0 rgba(0, 0, 0, 0.1);
border: none;
padding-left: 50px;
 color: #abaaaa;
  font-size: 15px;
}
.survays_title{
  height: 50px;
  background-color: #f2eeee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
.survays_title p{
font-size: 25px;
  font-family: "Myriad";
}
.survays_right_bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.survays_right_box{
  box-shadow: 0px 11px 24px 0 rgba(0, 0, 0, 0.1);
  width: 390px;
  margin-bottom: 30px;
}
.survays_right_box_top{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
    background-color: #f2eeee;
}
.survays_right_box_top a{
    color:#000 !important;
    text-decoration: none;
}
.survays_right_box_top a:hover{
    text-decoration: none;

}
.survays_right_box_top p{

  font-family: "Myriad";
  font-size: 20px;
}

.survey_content .survey_p{
    display: flex;
    flex-direction: column;
}
.survey_content .survey_p input[type=text]
{
    width: 300px;
    padding: 10px 0;
    border-radius: 5px;
}
.survey_content .survey_p label{
    margin-bottom: 10px;
}

.survays_right_box_top_right{
    height: 100%;
    background-color: #3ea639;
    width: 18px;
    margin-right: 25px;
}

.survays_right_text{
  font-family: "Myriad";
  font-size: 16px;
  margin: 15px 20px;
}


@media screen and (max-width:1700px) {
  .survays_left{
    width: 21%;
  }
  .survays_left_top h3{
    font-size: 19px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .survays_left_top p{
    margin-bottom: 40px;
    font-size: 16px;
  }
  .survays_left_dash{
    height: 40px;
  font-size: 16px;
  }
  .dash_1{
    width: 18px;
  }
  .survays_left_mid{
    padding: 30px 0 0 20px;
  }
  .dash_flex{
      margin-bottom: 30px;
  }
  .dash_flex p{
  font-size: 16px;
  margin-left: 15px;
  }
  .survays_left_bottom p{
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  }
  .survays_left_bottom button{
  margin-bottom: 20px;
  width: 100px;
  height: 35px;
    font-size: 16px;
  }
  .survays_right{
    width: 79%;
  }
  .survays_right_top{
    padding-top: 30px;
  }
  .survays_right_top_2{
    width: 57%;
  }
  .survays_right_top_2_black{
    height: 38px;
  }
  .survays_right_top_1 p{
  font-size: 16px;
  margin-top: 0px;
  }
  .survays_right_img p{
  font-size: 14px;
  }
  .survays_right_img img{
  margin-right: 9px;
  }
  .survays_right_top_2_bott{
    margin-top: 10px;
  }
  .survays_right_top_2_bott p{
  font-size: 14px;
  }
  .survays_right_top_3{
    width: 20%;
  }
  .survays_right_top_3 img{
  top: 15px;
  left: 10px;
  }
  .survays_right_top_3 input{
  height: 40px;
  padding-left: 40px;
    font-size: 14px;
  }
  .survays_title{
    height: 40px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .survays_title p{
  font-size: 20px;
  }
  .survays_right_box{
    width: 300px;
    margin-bottom: 20px;
  }
  .survays_right_box_top{
    height: 40px;
  }
  .survays_right_box_top p{
    font-size: 16px;
  }
  .survays_right_box_top_right{
  margin-right: 20px;
  }
  .survays_right_text{
    font-size: 14px;
    margin: 10px 10px;
  }
}
@media screen and (max-width:900px) {
  .survays_left{
    width: 25%;
  }
  .survays_left_top h3{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .survays_left_top p{
    margin-bottom: 10px;
    font-size: 14px;
  }
  .survays_left_dash{
    height: 30px;
  font-size: 13px;
  }
  .dash_1{
    width: 16px;
  }
  .survays_left_mid{
    padding: 20px 0 0 20px;
  }
  .dash_flex{
      margin-bottom: 20px;
  }
  .dash_flex p{
  font-size: 14px;
  margin-left: 10px;
  }
  .survays_left_bottom p{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  }
  .survays_left_bottom button{
  width: 80px;
  margin-bottom: 10px;
  height: 25px;
    font-size: 14px;
  }
  .survays_right{
    width: 79%;
  }
  .survays_right_top{
    padding-top: 20px;
  }
  .survays_right_top_2{
    width: 57%;
  }
  .survays_right_top_2_black{
    height: 30px;
  }
  .survays_right_top_1 p{
  font-size: 14px;
  text-align: center;
  }
  .survays_right_img p{
  font-size: 12px;
  }
  .survays_right_img img{
  margin-right: 5px;
  }
  .survays_right_top_2_bott{
    margin-top: 10px;
  }
  .survays_right_top_3{
    width: 20%;
  }
  .survays_right_top_3 img{
  top: 10px;
  left: 10px;
  }
  .survays_right_top_3 input{
  height: 30px;
  padding-left: 40px;
    font-size: 14px;
  }
  .survays_title{
    height: 40px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .survays_title p{
  font-size: 18px;
  }
  .survays_right_box{
    width: 300px;
    margin-bottom: 20px;
  }
  .survays_right_box_top{
    height: 25px;
  }
  .survays_right_box_top p{
    font-size: 15px;
  }
  .survays_right_box_top_right{
  margin-right: 5px;
  }
  .survays_right_text{
    font-size: 12px;
    margin: 5px 5px;
  }
}
@media screen and (max-width:700px){
  .survays_right_top{
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  .survays_right_top_2 {
    width: 100%;
    margin-top: 10px;
  }
  .survays_left{
    height: 100%
  }
  /* .survays_right_box{
    width: 95%
  } */
  .survays{
    flex-direction: column;
  }
  .survays_left{
    width: 100%;
  }
  .survays_right{
    width: 100%;
  }
  .survays_right_box{
    width: 95%;
    margin: 0 auto;
  }
  .survays_right_top_3 input{
    width: 200px;
    margin-top: 10px;
  }
  .survays_right_top_3 img {
    top: 17px;
    left: 10px;
}
}

.log_out_user a{
    font-family: "Myriad";
    font-size: 18px;
    color: #ffffff;
    margin-left: 15px;
}
